[class^="covidwebmd-"] {
box-sizing: border-box;
}
.covidwebmd-container:before,
.covidwebmd-container:after {
content: " ";
display: block;
clear:both;
position: relative;
width: 100%;
height: .05%;
background: transparent;
}
.covidwebmd-container:after {
display: table;
}
.covidwebmd-container{width:100%; height: 100%;position:relative;}